*
{
    margin: 0;
    padding: 0;
}

body
{
    background: linear-gradient(violet,skyblue);
}
header
{
  background: #222;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 10%;
}
.menu
{
  display: flex;
  align-items: center;
}
.menu li
{
  margin: 0 15px;
  list-style-type: none;
}
.menu > :nth-child(3) a
{
  background:#fff;  
  color: #222;
  box-shadow: 5px 5px 10px skyblue,-5px -5px 10px skyblue,5px -5px 10px skyblue,-5px 5px 10px skyblue
}
.menu li a 
{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.menu li a:hover
{
  background:#fff;  
  color: #222;
  box-shadow: 5px 5px 10px skyblue,-5px -5px 10px skyblue,5px -5px 10px skyblue,-5px 5px 10px skyblue
}

/* la barre */

.barre 
{display: none;}

/* fin de la barre */

/*main part */

main h1
{
    text-transform: uppercase;
    font-size: 50px;
    color: blue;
    margin: 150px 0 50px 0;
    text-align: center;
}
 main section 
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    place-items: center;
 }
 main section .form span
 {
    font-size: 1.5rem;
    margin-left: 75px;
 }
 main section .form 
 {
    line-height: 50px;
 }
 main section .form .pic
 {
    height: 200px;
    width: 200px;
    background:#556688;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
 } 

 main section .form .pic:hover
 {
    transform: scale(1.1);
    filter: blur(0.7px);
 } 

 /*footer part */

 footer
 {
    padding:10px 10%;
    display: flex;
    justify-content: space-between;
    background-color:#556688 ;
    color:beige ;
 }
 
 a
{
    text-decoration: none;
}
 form 
 {
    display: grid;
    grid-template-columns: repeat(2,50%);
    column-gap: 40px;
 }

 footer .foot li
 {
    list-style-type: none;
    margin: 10px 0;
 }

 textarea 
 {
     grid-column: span 2;
     text-align: center;
 }

 
@media screen and (max-width: 1320px) {
   header
   {
     padding: 0 5%;
   }
   main h1
   {
      font-size: 45px;
   }
 } 
 @media screen and (max-width: 1024px) {
   header
   {
     padding: 0 3%;
   }
   main h1
   {
      font-size: 40px;
   }
   main section 
   {
      grid-template-columns: repeat(2,1fr);
      row-gap: 30px;
   }
 } 
 @media screen and (max-width: 820px) {
   
   main h1
   {
      font-size: 35px;
   }
   .barre
   {
     display: block;
     cursor: pointer;
   }
   .barre .line
   {
     width: 20px;
     height: 2px;
     background-color: #fefefe;
     margin: 5px 0;
     transition: 0.3s;
   }
   .line22
   {
     display: none;
   }
   .line11
   {
    transform: translateY(6px);
   }
   .line33
   {
     transform: rotate(-60deg);
   }
   .menu
   {
     position: absolute;
     top: 50px;
     left: 0;
     right: 0;
     width: 100vw;
     background: #222;
     transition: 0.5s;
     height: 0px;
     flex-direction: column;
     row-gap: 20px;
     overflow: hidden;
     z-index: 1000;
   }
   .menu.active
   {
     height: 250px;  
   }
   .menu li 
   {
     opacity: 0;
     transition: 0.5s;
     transform: translateY(17px);
   }
   .menu.active li 
   {
     opacity: 1;
   }
 }